@page "/dictionary"
@using ElGatoConBotas.Database
@using ElGatoConBotas.Domain.Entities
@using Microsoft.EntityFrameworkCore
@inject AppDbContext DbContext

<h3>Dictionary</h3>
<h1>These are all the words in the database:</h1>

<style>
table, th, td {
  border:1px solid black;
  text-align:left;
  font-family:Arial;
  width:50%;
 
}
</style>
<table>
    <tr>
        <th>Spanish</th>
        <th>German</th>
        
    </tr>
    @foreach (var vocabulary in vocabularies)
    {
        <tr>
            <td>@vocabulary.Spanish_Expression</td>
            <td>@vocabulary.German_Expression</td>
       
    </tr>
    }
  
</table>


@code {
    List<Vocabulary> vocabularies;

    protected override void OnInitialized()
    {
        vocabularies = DbContext.Vocabularies.ToList();
    }





}
