
@if(Opened){


<div class="overlay"> 
    <div class="dialog">
        <div class="dialog-header">
                <h2>Edit Vocabulary</h2>

                <MudButton @onclick="CloseDialog">
                   

                </MudButton>
        </div>

        <div class="dialog-body">

        </div>

        <div class="dialog-footer">

        </div>
    </div>
</div>
}




@code {

    [Parameter] public string? Title { get; set; }
    [Parameter] public RenderFragment? BodyContent { get; set; }
    [Parameter] public RenderFragment? FooterContent { get; set; }
    [Parameter] public bool Opened { get; set; }
    [Parameter] public EventCallback CloseButtonClicked { get; set; }

    private void CloseDialog()
    {
        Opened = false;
        CloseButtonClicked.InvokeAsync();
    }

    




}
